input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.329);
}

.button-no {
    display: none;
  
  }

button {
  border: 1px solid gray;
  background: rgba(0, 0, 0, 0.281);
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgba(255, 99, 71, 0.247);
  color: white;
}

.calculator-header {
 display: flex;
  align-items: center;
  justify-self: center;
}


.calculator-icon {
    max-width: 2dvw ;
    max-height: 2dvh ;
    padding-right: 1dvw;
  }

